[class*="container"] {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    display: grid;
}



/* Grids with specific positioning */

.container1 {
    

    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color: pink;
    /* grid-column-start: line2 ;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: last-line; */

/*  short-hand for grid-column start/end*/

    grid-column: line2 / line3;
    
    /*  short-hand for grid-row start/end*/
    grid-row: row1-start / last-line;

}

.item-b {
    background-color: rgba(0, 0, 0, 0.3);
    grid-column-start: 1 ;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;

    /*  short-hand for grid-column start/end*/

    grid-column: 1 / span col4-start;
    
    /*  short-hand for grid-row start/end*/
    grid-row: 2 / span 2;

}

.item-c {
    background-color: orange;
}


/* Grids without specific positioning */

.container2 {
    grid-template-columns: repeat(3, 100px); /* annat sätt att skriva 1fr 1fr 1fr */
    grid-template-rows: auto;    /* default value for rows. Skapar antalet rows efeter behov */
    
    /* column-gap: 10px;
    row-gap: 15px; */
    
    /* Short-hand*/
    gap: 15px 10px; /* <grid-row-gap> <grid-column-gap>*/
    
    padding: 10px;

    align-items: stretch; /* Hur hörjden på boxarna ska bete sig, positionera sig, 
    start  / end / center / strech (default) */
    justify-items: center; /* Hur bredden på boxarna ska bete sig, positionera sig 
    start  / end / center / strech (default) */
    /* Short-hand*/
    place-items: stretch stretch; /* <align-items> <justify-items> */
    
    /* Needs free available space tp move around */
    /* positions column-wise */
    justify-content: center; /* start  / end / center / strech (default) / space-around / space-between / space-evenly */
    
    /* positions row-wise */
    align-content: stretch; /* start  / end / center / strech (default) / space-around / space-between / space-evenly */
    
    place-content: stretch center; /* <align-content> <justify-content> start  / end / center / strech (default) / space-around / space-between / space-evenly */
}

[class*="box"] {
    border: 1px solid #333;
}

.box5 {
   align-self: center; /* start  / end / center / strech (default) */
   justify-self: center; /* start  / end / center / strech (default) */
   
   /* Short-hand */
   place-self: end; /* <align-content> <justify-content>  /* start  / end / center / strech (default) */
}

/* Grid areas */


.container3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; /* Aute = default value */
    /*
    
    To be aware of when working with Grid areas:
    1. All chidren need to be given a grid-area name,
    2. All chidren need to be positioned in grid-template-areas,
    3. The elemnts must be square or rectangle (tex no L shape), 
    meaning must have 4 corners or else the layout will collapse.
    4. Elements/Sections need to be one pice, must remain a 
    single section in the layout. Empty space marked with "." in grid-template-ares,
    5. All rows must have same number of cells
    
    */

    grid-template-areas: 
      "header header header sidebar"    /* rad 1 och vilket innehål de 4 colimns ska ha */
      "main main main sidebar"          /* rad 2 och vilet innehåll de 4 columsn ska ha */
      "footer footer footer sidebar";          /* rad 3 och vilet innehåll de 4 columsn ska ha */

/* when assigning only 1 value (instead of 2), the value 
applies for both column and row gap */
      gap: 10px; 
}

header {
    background-color: tomato;
    grid-area: header;
}

main {
    background-color: wheat;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

aside {
    background-color: lightcyan;
    grid-area: sidebar;
}

footer {
    background-color: lightskyblue;
    grid-area: footer;
}